<sw-card :title="cardTitle" position-identifier="mollie-refund-manager-order-container" class="mollie-refund-manager-order-container" :hero="false" :large="true">
    <sw-container columns="5fr 1fr" class="order-container-top">
        <div class="order-container-top-left">
            <sw-button-group>
                <sw-button variant="context" size="small" @click="$emit('select-all')">
                    {{ $tc('mollie-payments.refund-manager.cart.btnSelectAll') }}
                </sw-button>
                <sw-button variant="context" size="small" @click="$emit('reset-form')">
                    {{ $tc('mollie-payments.refund-manager.cart.btnResetForm') }}
                </sw-button>
            </sw-button-group>
        </div>
        <div class="order-container-top-right">
            <sw-external-link href="https://github.com/mollie/Shopware6/wiki/Refunds">
                {{ $tc('mollie-payments.refund-manager.cart.linkHowTo') }}
            </sw-external-link>
        </div>
    </sw-container>
    <sw-data-grid :dataSource="orderItems"
                  :isLoading="isLoading"
                  :columns="columns"
                  class="order-grid"
                  :showSelection="false"
                  :selectable="false"
                  :showActions="true"
                  :allowInlineEdit="false"
                  :plainAppearance="true">

        <template #actions="{ item }">
            <sw-context-menu-item icon="default-basic-x-line"
                                  @click="$emit('reset-line', item)">
                {{ $tc('mollie-payments.refund-manager.cart.grid.btnResetLine') }}
            </sw-context-menu-item>
        </template>

        <template #column-shopware.label="{ item }">
            {{ item.shopware.label }}
        </template>
        <template #column-shopware.unitPrice="{ item }">
            {{ formatCurrency(item.shopware.unitPrice) }}
        </template>
        <template #column-shopware.totalPrice="{ item }">
            <div v-if="isItemPromotion(item)">
                -
            </div>
            <div v-if="!isItemPromotion(item)">
                {{ formatCurrency(item.shopware.totalPrice) }}
            </div>
        </template>
        <template #column-shopware.quantity="{ item }">
            {{ item.shopware.quantity }} {{ $tc('mollie-payments.refund-manager.general.unitQuantity') }}
        </template>
        <template #column-refunded="{ item }">
            {{ item.refunded }} {{ $tc('mollie-payments.refund-manager.general.unitQuantity') }}
        </template>
        <template #column-inputQuantity="{ item }">
            <sw-number-field numberType="float"
                             v-model="item.refundQuantity"
                             v-model:value="item.refundQuantity"
                             v-if="isItemRefundable(item)"
                             :allowEmpty="true"
                             :class="{ 'cy-input-quantity':true,'tutorial-active' : tutorialPartialQuantityVisible || tutorialPartialPromotionsVisible || (tutorialRefundShipping && isItemDelivery(item)), 'input-mode-active' : item.refundMode == 'quantity', 'input-mode-inactive' : item.refundMode == 'amount' }"
                             @change="$emit('qty-changed', item)"
                             @update:value="$emit('qty-changed', item)"
            >
                <template #suffix>
                    {{ $tc('mollie-payments.refund-manager.general.unitQuantity') }}
                </template>
            </sw-number-field>
        </template>
        <template #column-inputAmount="{ item }">
            <sw-number-field numberType="float"
                             v-model="item.refundAmount"
                             v-model:value="item.refundAmount"
                             v-if="isItemRefundable(item) && !isItemPromotion(item)"
                             :allowEmpty="true"
                             :class="{ 'tutorial-active' : tutorialPartialQuantityVisible || tutorialPartialPromotionsVisible || (tutorialRefundShipping && isItemDelivery(item)), 'input-mode-active' : item.refundMode == 'amount', 'input-mode-inactive' : item.refundMode == 'quantity'}"
                             @change="$emit('amount-changed', item)"
                             @update:value="$emit('amount-changed', item)">
                <template #suffix>
                    {{ order.currency.symbol }}
                </template>
            </sw-number-field>
            <div v-if="isItemPromotion(item)">
                {{ formatCurrency(item.refundAmount) }}
            </div>
        </template>
        <template #column-inputConsiderTax="{ item }">
            <div v-if="isItemRefundable(item) && !isTaxStatusGross()">
                <sw-checkbox-field :label="$tc('mollie-payments.refund-manager.cart.grid.checkRefundTax')"
                                   v-model="item.refundTax"
                                   v-model:value="item.refundTax"
                                   class="check-refund-tax"
                                   :class="{ 'tutorial-active': tutorialPartialPromotionsVisible }"
                                   @change="$emit('refund-tax-changed', item)"
                                   @update:value="$emit('refund-tax-changed', item)"
                                >
                </sw-checkbox-field>
            </div>
        </template>
        <template #column-inputConsiderPromotion="{ item }">
            <div v-if="isItemRefundable(item) && !isItemPromotion(item) && isItemDiscounted(item)">
                <sw-checkbox-field :label="$tc('mollie-payments.refund-manager.cart.grid.checkDeductPromotion')"
                                   v-model="item.refundPromotion"
                                   v-model:value="item.refundPromotion"
                                   class="check-deduct-promotion"
                                   :class="{ 'tutorial-active': tutorialPartialPromotionsVisible }"
                                   @change="$emit('promotion-changed', item)"
                                   @update:value="$emit('promotion-changed', item)"
                >
                </sw-checkbox-field>
            </div>
        </template>
        <template #column-inputStock="{ item }">
            <sw-number-field numberType="float"
                             v-model="item.resetStock"
                             v-model:value="item.resetStock"
                             v-if="isItemRefundable(item) && !isItemPromotion(item) && !isItemDelivery(item)"
                             :class="{ 'tutorial-active' : tutorialResetStock }"
                             :allowEmpty="true">
                <template #suffix>
                    {{ $tc('mollie-payments.refund-manager.general.unitQuantity') }}
                </template>
            </sw-number-field>
        </template>
    </sw-data-grid>
    <div v-if="roundingDiff > 0" class="rounding-item-info-container color-rounding-item">
        {{ $tc('mollie-payments.refund-manager.cart.roundDiffItemAdded') }} ({{ formatCurrency(roundingDiff) }})
    </div>
</sw-card>
