{% block credit_card_mandate_remove_modal %}
    <div class="modal fade mollie-credit-card-mandate-remove-modal"
         id="{{ modalId }}"
         data-backdrop="static"
         tabindex="-1"
         role="dialog"
         aria-hidden="true">
        {% block credit_card_mandate_remove_modal_dialog %}
            <div class="modal-dialog" role="dialog">
                {% block credit_card_mandate_remove_modal_content %}
                    <div class="modal-content">
                        {% block credit_card_mandate_remove_modal_header %}
                            <div class="modal-header">
                                {% block credit_card_mandate_remove_modal_header_title %}
                                    <h5 class="modal-title">
                                        {{ "molliePayments.components.mandateRemoveModal.title"|trans|striptags }}
                                    </h5>
                                {% endblock %}

                                {% block credit_card_mandate_remove_modal_header_close_button %}
                                    <button class="close"
                                            type="button"
                                            {{ dataBsDismissAttr }}="modal"
                                            aria-label="Close"
                                        >
                                        {% sw_icon 'x' %}
                                    </button>
                                {% endblock %}
                            </div>
                        {% endblock %}

                        {% block credit_card_mandate_remove_modal_body %}
                            <div class="modal-body">
                                {% block credit_card_mandate_remove_modal_body_card_subscription %}
                                    {% if subscription %}
                                        <p>{{ "molliePayments.components.mandateRemoveModal.cardSubscription"|trans|striptags }}</p>
                                    {% endif %}
                                {% endblock %}

                                {% block credit_card_mandate_remove_modal_body_confirmation %}
                                    <p>{{ "molliePayments.components.mandateRemoveModal.deleteConfirmation"|trans|striptags }}</p>
                                {% endblock %}
                            </div>
                        {% endblock %}

                        {% block credit_card_mandate_remove_modal_footer %}
                            <div class="modal-footer">
                                {% block credit_card_mandate_remove_modal_header_back_button %}
                                    <button class="btn"
                                            type="button"
                                        {{ dataBsDismissAttr }}="modal"
                                        >
                                        {{ "molliePayments.components.mandateRemoveModal.cancelButton"|trans|striptags }}
                                    </button>
                                {% endblock %}

                                {% block credit_card_mandate_remove_modal_footer_form_button %}
                                    <button type="button"
                                            class="btn btn-primary mollie-credit-card-mandate-remove-modal-button"
                                            {{ dataBsDismissAttr }}="modal"
                                    >
                                        {{ "molliePayments.components.mandateRemoveModal.deleteButton"|trans|striptags }}
                                    </button>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
