<div class="mollie-paypal-express-checkout {{ cols }}">
    {% set settings = page.extensions[constant('Kiener\\MolliePayments\\Subscriber\\PayPalExpressCheckoutSubscriber::MOLLIE_PAYPAL_EXPRESS_CHECKOUT_BUTTON_DATA_EXTENSION_ID')] %}

    {% if settings and settings.available %}
        {% set paypal_ecs = {
            productId: product.id,
            countryCode: context.shippingLocation.country.iso,
            shippingMethodId: context.shippingMethod.id,
            csrfToken: sw_csrf("frontend.mollie.paypal-ecs.checkout", {"mode": "token"}),
            cartToken: cartToken ?? null
        } %}
        <button type="button" class="btn btn-primary btn-block js-paypal-ecs w-100 paypal-{{ settings.color }}"
                data-mollie-paypal-express-checkout="true"
                data-mollie-paypal-express-checkout-options="{{ paypal_ecs | json_encode }}">
            {% set label = "molliePayments.components.paypalExpressCheckoutButton." ~ settings.label %}
            {% set icon = (settings.color in ["blue", "black"]) ? "paypal-white" : "paypal" %}

            <span>{{ label | trans }}</span>

            <img src="{{ asset('bundles/molliepayments/static/img/paypal/' ~ icon ~ '-logo.svg') }}" class="ml-1"
                 alt="{{ label | trans }} PayPal">
            <img src="{{ asset('bundles/molliepayments/static/img/paypal/' ~ icon ~ '.svg') }}"
                 alt="{{ label | trans }} PayPal">
        </button>
    {% endif %}
</div>
