{% block mollie_payments_subscription_list %}
    <sw-page class="mollie-subscriptions">
        {% block mollie_payments_subscription_list_smart_bar_header %}
            <template slot="smart-bar-header">
                {% block mollie_payments_subscription_list_smart_bar_header_title %}
                    <h2>
                        {% block mollie_payments_subscription_list_smart_bar_header_title_text %}
                            {{ $tc('mollie-payments.subscriptions.list.title') }}
                        {% endblock %}
                        {% block mollie_payments_subscription_list_smart_bar_header_amount %}
                            <span v-if="!isLoading" class="sw-page__smart-bar-amount">
                                  ({{ totalSubscriptions }})
                            </span>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}
        <template #content>
            {% block mollie_payments_subscription_list_content %}
                <sw-entity-listing
                        class="mollie-subscriptions-grid"
                        v-if="subscriptions"
                        :items="subscriptions"
                        :repository="repoSubscriptions"
                        :columns="gridColumns()"
                        :sort-by="sortBy"
                        :sort-direction="sortDirection"
                        :showSelection="false"
                        :allowDelete="false"
                        :showDelete="false"
                        :isLoading="isLoading">

                    {% block mollie_payments_subscription_list_content_customer %}
                        <template #column-customerId="{ item }">
                            <router-link :to="{ name: 'sw.customer.detail', params: { id: item.customerId }, query: { edit: false } }">
                                {{ item.customer.firstName }} {{ item.customer.lastName }}
                            </router-link>
                        </template>
                    {% endblock %}

                    {% block mollie_payments_subscription_list_content_amount %}
                        <template #column-amount="{ item }">
                            {{ item.amount | currency(item.currency) }}
                        </template>
                    {% endblock %}

                    {% block mollie_payments_subscription_list_content_status %}
                        <template #column-mollieStatus="{ item }">
                            <sw-icon v-if="item.mollieStatus == 'active'"
                                     name="default-basic-checkmark-line" :small="true"
                                     class="status-icon color-active">
                            </sw-icon>
                            <sw-icon v-if="item.mollieStatus != 'active'"
                                     name="default-basic-x-line" :small="true"
                                     class="status-icon color-inactive">
                            </sw-icon>
                            {{ statusTranslation(item.mollieStatus) }}
                        </template>
                    {% endblock %}

                    {% block mollie_payments_subscription_list_content_next_payment_date %}
                        <template #column-nextPaymentAt="{ item }">
                            {{ item.nextPaymentAt | date('d/m/Y') }}
                        </template>
                    {% endblock %}

                    {% block mollie_payments_subscription_list_content_pre_payment_reminder %}
                        <template #column-lastRemindedAt="{ item }">
                            {{ item.lastRemindedAt | date('d/m/Y') }}
                        </template>
                    {% endblock %}

                    {% block mollie_payments_subscription_list_content_create_at %}
                        <template #column-createdAt="{ item }">
                            {{ item.createdAt | date('d/m/Y') }}
                        </template>
                    {% endblock %}

                    {% block mollie_payments_subscription_list_content_actions %}
                        <template #actions="{ item }">
                            {% block mollie_payments_subscription_list_content_actions_cancel %}
                                <sw-context-menu-item class="mollie-subscriptions-grid-btn-cancel"
                                                      @click="btnCancel_Click(item)">
                                    {{ $tc('mollie-payments.subscriptions.list.columns.action.cancel') }}
                                </sw-context-menu-item>
                            {% endblock %}
                        </template>
                    {% endblock %}
                </sw-entity-listing>
            {% endblock %}
        </template>
    </sw-page>
{% endblock %}
