{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_cart_shipping_costs_form_group_payment_method %}
    <div class="form-group">
        <label for="paymentMethodId">{{ "checkout.paymentMethod"|trans|sw_sanitize }}</label>
        <select class="custom-select" type="text" id="paymentMethodId" name="paymentMethodId">
            {% for payment in page.paymentMethods %}
                <option value="{{ payment.id }}"
                        {% if payment.id == context.paymentMethod.id %} selected="selected"{% endif %}>
                    {{ payment.translated.name }}

                    {% if "MolliePayments" in payment.handlerIdentifier and page.isMollieTestMode == true %}
                        ({{ "molliePayments.testMode.label"|trans }})
                    {% endif %}
                </option>
            {% endfor %}
        </select>
    </div>
{% endblock %}


{% block page_checkout_aside_actions %}
    {{ parent() }}
    {% if mollie_applepaydirect_enabled and ('cart' not in mollie_applepaydirect_restrictions) %}
        {% block page_checkout_aside_actions_apple_direct_component %}
            <div class="mt-2 js-apple-pay-container mollie-apple-pay-direct-cart">
                {% include '@MolliePayments/mollie/component/apple-pay-direct-button.twig' %}
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}

