{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_cart_shipping_costs_form_group_payment_method %}
    <div class="form-group">
        <label for="paymentMethodId">{{ "checkout.paymentMethod"|trans|sw_sanitize }}</label>
        <select class="custom-select form-select" type="text" id="paymentMethodId" name="paymentMethodId">
            {% for payment in page.paymentMethods %}
                <option value="{{ payment.id }}"
                        {% if payment.id == context.paymentMethod.id %} selected="selected"{% endif %}>
                    {{ payment.translated.name }}

                    {% if "MolliePayments" in payment.handlerIdentifier and page.isMollieTestMode == true %}
                        ({{ "molliePayments.testMode.label"|trans }})
                    {% endif %}
                </option>
            {% endfor %}
        </select>
    </div>
{% endblock %}


{% block page_checkout_aside_actions %}
    {{ parent() }}

    {% set applePayVisible =  mollie_applepaydirect_enabled and ('cart' not in mollie_applepaydirect_restrictions) %}
    {% set paypalExpressVisible = mollie_paypalexpress_enabled and ('cart' not in mollie_paypalexpress_restrictions)  %}
    {% set noticeVisible = applePayVisible or paypalExpressVisible %}

    {% sw_include '@MolliePayments/mollie/component/express-privacy-notice.html.twig' with {visible:noticeVisible} %}


    {% if applePayVisible %}
        {% block page_checkout_aside_actions_apple_direct_component %}
            <div class="mt-2 js-apple-pay-container mollie-apple-pay-direct-cart d-none">
                {% include '@MolliePayments/mollie/component/apple-pay-direct-button.twig' %}
            </div>
        {% endblock %}
    {% endif %}

    {% if paypalExpressVisible %}
        {% block page_checkout_aside_actions_mollie_paypal_express_component %}
            <div class="mt-2 mollie-paypal-express-cart">
                {% include '@MolliePayments/mollie/component/paypal-express-button.twig' %}
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}

