{% block sw_order_detail_base_secondary_info_payment %}
    {% parent %}

    <template v-if="mollieOrderId">
        <div v-if="hasCreditCardData">
            <dt>Credit Card Data</dt>
            <dd>
                <mollie-credit-card-logo :creditCardCompany="creditCardLabel">{{ creditCardLabel }}</mollie-credit-card-logo>
            </dd>
            <dd>
                {{ creditCardNumber }}
            </dd>
            <dd>
                {{ creditCardHolder }}
            </dd>
        </div>
        <dt>{{ $tc('sw-order.detailExtended.labelMollieOrderId') }}</dt>
        <dd>
            {{ mollieOrderId }}
            <div v-if="isSubscription">
                <sw-label class="mollie-order-user-card-subscription-badge"
                          variant="info" size="medium" appearance="pill" :ghost="true" :caps="true"
                          :dismissable="false">
                    <router-link :to="{ name: 'mollie.payments.subscription_detail', params: { id: subscriptionId } }">
                        {{ $tc('sw-order.detailExtended.subscriptionBadge') }}
                    </router-link>
                </sw-label>
            </div>
        </dd>

        <template v-if="mollieThirdPartyPaymentId">
            <dt class="mollie-order-user-card-payment-reference-title">
                {{ $tc('sw-order.detailExtended.labelMollieThirdPartyPaymentId') }}
            </dt>
            <dd class="mollie-order-user-card-payment-reference-value">
                {{ mollieThirdPartyPaymentId }}
            </dd>
        </template>

        <div v-if="hasPaymentLink">
            <dt>{{ $tc('sw-order.detailExtended.labelMolliePaymentLink') }}</dt>
            <dd>
                <sw-button-process size="x-small"
                                   :disabled="!molliePaymentUrl"
                                   :processSuccess="molliePaymentUrlCopied"
                                   :isLoading="isLoading || isMolliePaymentUrlLoading"
                                   @click="copyPaymentUrlToClipboard"
                                   @process-finish="onMolliePaymentUrlProcessFinished">
                    {{ $tc('sw-order.detailExtended.buttonMolliePaymentLink') }}
                </sw-button-process>
            </dd>
        </div>

    </template>
{% endblock %}
