<!--
**********************************************************************************
**********************************************************************************

SHOPWARE 6.5
- integration of mollie payment data in order form
- integration of refund manager and shipping buttons
- summary line item for refund and shipping data

**********************************************************************************
**********************************************************************************
-->
{% block sw_order_detail_general_info_card %}
    {% parent %}

    <sw-container v-if="isMollieOrder">

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_detail_general_mollie_refund_manager %}
            <sw-modal v-if="showRefundModal"
                      variant="full"
                      :title="$tc('sw-order.detailExtended.refundManager.title')"
                      class="mollie-modal-refund-manager"
                      @modal-close="onCloseRefundManager">
                <mollie-refund-manager :order="order">
                </mollie-refund-manager>
                <template #modal-footer>
                    <sw-button size="large"
                               @click="onCloseRefundManager">
                        {{ $tc('sw-order.detailExtended.refundManager.btnCloseRefundManager') }}
                    </sw-button>
                </template>
            </sw-modal>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_detail_general_mollie_shipping %}
            <sw-modal v-if="showShippingModal"
                      :title="$tc('mollie-payments.modals.shipping.title')"
                      variant="small"
                      @modal-close="onCloseShippingManager">
                <mollie-ship-order :order="order">
                </mollie-ship-order>
                <template #modal-footer>
                    <sw-button @click="onCloseShippingManager" size="small">
                        {{ $tc('mollie-payments.modals.shipping.cancelButton') }}
                    </sw-button>
                </template>
            </sw-modal>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_detail_general_mollie_info %}
            <sw-card :title="$tc('mollie-payments.pluginTitle')"
                     class="sw-order-detail-base__mollie-info"
                     position-identifier="sw-order-detail-mollie-info">
                <div class="mollie-property-column-left">
                    {% block sw_order_detail_general_mollie_info_property_creditcard %}
                        <div v-if="hasCreditCardData" class="mollie-property-section">
                            <dt class="mollie-property-title">
                                {{ $tc('sw-order.detailExtended.titleCreditCardData') }}
                            </dt>
                            <dd class="mollie-property-creditcard-section">
                                <mollie-credit-card-logo :creditCardCompany="creditCardLabel">
                                    {{ creditCardLabel }}
                                </mollie-credit-card-logo>
                            </dd>
                            <dd class="mollie-property-content">
                                {{ creditCardNumber }}
                            </dd>
                            <dd class="mollie-property-content">
                                {{ creditCardHolder }}
                            </dd>
                        </div>
                    {% endblock %}
                    {% block sw_order_detail_general_mollie_info_property_orderid %}
                        <div class="mollie-property-section">
                            <dt class="mollie-property-title">
                                {{ $tc('sw-order.detailExtended.labelMollieOrderId') }}
                            </dt>
                            <dd class="mollie-property-content">
                                {{ mollieOrderId }}
                                <div v-if="isSubscription" style="margin-bottom:20px;">
                                    <sw-label class="mollie-order-user-card-subscription-badge"
                                              variant="info" size="medium" appearance="pill" :ghost="true" :caps="true"
                                              :dismissable="false">
                                        <router-link
                                                :to="{ name: 'mollie.payments.subscription_detail', params: { id: subscriptionId } }">
                                            {{ $tc('sw-order.detailExtended.subscriptionBadge') }}
                                        </router-link>
                                    </sw-label>
                                </div>
                            </dd>
                        </div>
                    {% endblock %}
                    {% block sw_order_detail_general_mollie_info_property_paymentref %}
                        <div v-if="mollieThirdPartyPaymentId" class="mollie-property-section">
                            <template>
                                <dt class="mollie-property-title mollie-order-user-card-payment-reference-title">
                                    {{ $tc('sw-order.detailExtended.labelMollieThirdPartyPaymentId') }}
                                </dt>
                                <dd class="mollie-property-content">
                                    {{ mollieThirdPartyPaymentId }}
                                </dd>
                            </template>
                        </div>
                    {% endblock %}
                    {% block sw_order_detail_general_mollie_info_property_paymentlink %}
                        <div v-if="hasPaymentLink" class="mollie-property-section">
                            <dt class="mollie-property-title">
                                {{ $tc('sw-order.detailExtended.labelMolliePaymentLink') }}
                            </dt>
                            <dd>
                                <sw-button-process size="x-small"
                                                   class="mollie-property-paymentlink-button"
                                                   :disabled="!molliePaymentUrl"
                                                   :processSuccess="molliePaymentUrlCopied"
                                                   @click="copyPaymentUrlToClipboard"
                                                   @process-finish="onMolliePaymentUrlProcessFinished">
                                    {{ $tc('sw-order.detailExtended.buttonMolliePaymentLink') }}
                                </sw-button-process>
                            </dd>
                        </div>
                    {% endblock %}
                </div>
                <div class="mollie-property-column-right">
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_order_detail_general_mollie_info_action_buttons %}
                        <sw-button-group split-button>
                            {% block sw_order_detail_general_mollie_info_action_buttons_order_shipping %}
                                <sw-button class="sw-order-line-items-grid__actions-ship-button"
                                           variant="ghost" size="small"
                                           :disabled="!isShippingPossible"
                                           @click="onOpenShippingManager">
                                    {{ $tc('mollie-payments.general.shipThroughMollie') }}</sw-button>
                            {% endblock %}
                            {% block sw_order_detail_general_mollie_info_action_buttons_refund_manager %}
                                <sw-button class="sw-order-line-items-grid__actions-refund-btn"
                                           variant="ghost" size="small"
                                           :disabled="!isRefundManagerPossible"
                                           @click="onOpenRefundManager">
                                    {{ $tc('sw-order.detailExtended.refundManager.btnOpenRefundManager') }}</sw-button>
                            {% endblock %}
                        </sw-button-group>
                    {% endblock %}
                </div>
            </sw-card>
        {% endblock %}

    </sw-container>

{% endblock %}


{% block sw_order_detail_general_line_items_summary_entries %}
    {% parent %}

    <dt v-if="isMollieOrder && refundedAmount > 0">
        <strong>{{ $tc('sw-order.detailExtended.totalRefunds') }}</strong>
    </dt>
    <dd v-if="isMollieOrder && refundedAmount > 0">
        {{ refundedAmount | currency(order.currency.shortName) }}
    </dd>
    <dt v-if="isMollieOrder && refundAmountPending > 0">
        <strong>{{ $tc('sw-order.detailExtended.totalRefundsPending') }}</strong>
    </dt>
    <dd v-if="isMollieOrder && refundAmountPending > 0">
        {{ refundAmountPending | currency(order.currency.shortName) }}
    </dd>
    <dt v-if="isMollieOrder && shippedQuantity > 0">
        <strong>{{ $tc('sw-order.detailExtended.totalShipments', 0, { quantity: shippedQuantity }) }}</strong>
    </dt>
    <dd v-if="isMollieOrder && shippedQuantity > 0">
        {{ shippedAmount | currency(order.currency.shortName) }}
    </dd>
{% endblock %}
