<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>
<body>

<style>

    * {
        box-sizing: border-box;
    }

    body {
        background-color: #332d96;
        font-family: Arial, sans-serif;
        margin: 0;
    }

    .mollie-content {
        position: relative;
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 50px;
    }

    @media only screen and (min-width: 768px) {
        .mollie-content {
            height: 100vh;
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
        }
    }

    .mollie-info-container {
        background-color: white;
        text-align: center;
        border-radius: 10px;
        max-width: 480px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    @media only screen and (min-width: 768px) {
        .mollie-info-container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .mollie-info-container.m-info-show {
        display: block;
    }

    .mollie-info-container.m-info-hide {
        display: none;
    }

    .mollie-headline-container {
        padding-top: 50px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 10px;
    }

    @media only screen and (min-width: 768px) {
        .mollie-headline-container {
            padding-left: 45px;
            padding-right: 45px;
        }
    }

    .mollie-headline-container span {
        color: #666666;
        font-size: 1rem;
    }

    .mollie-headline-container .m-headline {
        margin-top: 15px;
    }

    .mollie-headline-container p {
        margin-bottom: 30px;
        color: #666666;
        font-size: 1rem;
    }

    .mollie-headline-container .m-button {
        margin-bottom: 25px;
    }

    .mollie-image-container img {
        max-width: 100%;
    }

    .m-headline {
        font-size: 1.5em;
        color: #333333;
    }

    .m-button {
        background-color: #0077ff;
        display: flex;
        text-decoration: none;
        color: white;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 8px;
    }

    .m-button svg {
        width: 20px;
        height: 20px;
        fill: white;
        margin-left: 2px;
    }

    .mollie-footer {
        width: 100%;
        z-index: 99;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 40px;
    }

    @media only screen and (min-width: 768px) {
        .mollie-footer {
            position: fixed;
            flex-direction: row;
            bottom: 0;
            padding-top: 0;
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    .mollie-footer .mollie-back-link {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    @media only screen and (min-width: 768px) {
        .mollie-footer .mollie-back-link {
            margin-bottom: 0;
        }
    }

    .mollie-footer .mollie-back-link svg {
        width: 15px;
        height: 15px;
        fill: white;
        margin-right: 3px;
    }

    select {
        background-color: #0f0d2c;
        border: none;
        color: white;
        border-radius: 4px;
        padding: 6px;
    }

</style>


<div class="mollie-content js-mollie-content">
    <div class="mollie-info-container js-info-loading m-info-show">
        <div class="mollie-headline-container">
            <div class="mollie-headline"> 
                <h2 class="m-headline loading">Follow the instructions on the terminal</h2>
                <h2 class="m-headline success" style="display:none">Your payment was successful!</h2>
                <h2 class="m-headline failed" style="display:none">Your payment was not successful!</h2>
                <p class="failed" style="display:none">No money has been debited from the debit card</p>
                <a href="#" title="Return to website" id="returnButton" class="m-button" style="display:none">
                    Return to website
                    <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.17 32.92l9.17-9.17-9.17-9.17 2.83-2.83 12 12-12 12z"/>
                        <path d="M0-.25h48v48h-48z" fill="none"/>
                    </svg>
                </a>
            </div>
            {% if changePaymentStateUrl %}
                <a href="{{ changePaymentStateUrl }}" title="Change Status in Test Mode" target="_blank" rel="noopener noreferrer" id="statusChange" class="m-button">
                    Change Status in Test Mode
                    <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.17 32.92l9.17-9.17-9.17-9.17 2.83-2.83 12 12-12 12z"/>
                        <path d="M0-.25h48v48h-48z" fill="none"/>
                    </svg>
                </a>
            {% endif %}
        </div>
        <div class="mollie-image-container loading">
            <img srcset="{{ asset('bundles/molliepayments/static/loading@2x.png', 'asset') }} 2x {{ asset('bundles/molliepayments/static/loading@3x.png', 'asset') }} 3x" src="{{ asset('bundles/molliepayments/static/loading.png', 'asset') }}" alt="Mollie"/>
        </div>
        <div class="mollie-image-container success" style="display:none">
            <img srcset="{{ asset('bundles/molliepayments/static/success@2x.png', 'asset') }} 2x {{ asset('bundles/molliepayments/static/success@3x.png', 'asset') }} 3x" src="{{ asset('bundles/molliepayments/static/success.png', 'asset') }}" alt="Mollie"/>
        </div>
        <div class="mollie-image-container failed" style="display:none">
            <img srcset="{{ asset('bundles/molliepayments/static/failed@2x.png', 'asset') }} 2x {{ asset('bundles/molliepayments/static/failed@3x.png', 'asset') }} 3x" src="{{ asset('bundles/molliepayments/static/failed.png', 'asset') }}" alt="Mollie"/>
        </div>
    </div>
</div>


<script>
    const returnButton = document.getElementById('returnButton');
    const statusChangeButton = document.getElementById('statusChange');
    const loadingElements = Array.from(document.getElementsByClassName('loading'));
    const successElements = Array.from(document.getElementsByClassName('success'));
    const failedElements = Array.from(document.getElementsByClassName('failed'));

    function handleResponse(response) {

        const json = JSON.parse(response.target.response);

        if (json.ready) {
            clearInterval(interval);

            if (statusChangeButton !== null) {
                statusChangeButton.style.display = 'none';
            }

            loadingElements.forEach(function (element) {
                element.style.display = 'none';
            });

            returnButton.style.display = 'block';
            returnButton.href = json.redirectUrl;

            if (json.success) {
                successElements.forEach(function (element) {
                    element.style.display = 'block';
                });
            } else {
                failedElements.forEach(function (element) {
                    element.style.display = 'block';
                });
            }

            window.location.href = json.redirectUrl;
        }
    }

    function requestStatus() {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', '/mollie/pos/{{ transactionId }}/{{ paymentId }}/status');
        xhr.setRequestHeader('Content-Type', 'application/json');

        xhr.onload = handleResponse;
        xhr.onerror = handleResponse;

        xhr.send();
    }

    const interval = setInterval(requestStatus, 2000);
</script>

</body>
</html>