{% set NEW_CARD_MANDATE_OPTION = 'newCard' %}
{% set enableOneClickPayments = page.enable_one_click_payments %}
{% set mandates = page.extensions.MollieCreditCardMandateCollection %}
{% set mollieCart = page.extensions.mollieSubscriptionCart %}

{% block mollie_credit_card_mandate_list %}
    {% block mollie_credit_card_mandate_list_include %}
        {% if enableOneClickPayments and showIfActive and mandates|length > 0 and activeRoute is not same as ('frontend.account.payment.page') %}
            {% sw_include '@MolliePayments/mollie/component/credit-card-mandate.html.twig' with {
                'mandates': mandates,
                'compactView': page.enable_one_click_payments_compact_view,
                'modifiable': false
            } %}
        {% endif %}
    {% endblock %}
{% endblock %}

{% block mollie_credit_card_mandate_form %}

    <div class="mollie-credit-card-mandate">

        {% block mollie_credit_card_mandate_form_radio %}
            {% if enableOneClickPayments and page.enable_credit_card_components == true and showIfActive and mandates|length > 0 %}
                <div class="mollie-credit-card-mandate-radio {{ formRadioWrapperClass ?? 'custom-control custom-radio form-check' }}">
                    {% block mollie_credit_card_mandate_form_radio_input %}
                        <input type="radio"
                               name="mollieCreditCardMandate"
                               class="{{ formCheckInputClass ?? 'custom-control-input form-check-input' }}"
                               id="mollieCreditCardMandateForm"
                               value="{{ NEW_CARD_MANDATE_OPTION }}"
                        />
                    {% endblock %}
                    {% block mollie_credit_card_mandate_form_radio_label %}
                        <label class="{{ formCheckLabelClass ?? 'custom-control-label form-check-label' }}"
                               for="mollieCreditCardMandateForm">
                            {{ "molliePayments.components.mandate.newCard"|trans|striptags }}
                        </label>
                    {% endblock %}
                </div>
            {% endif %}
        {% endblock %}

        {% block mollie_credit_card_mandate_form_component %}
            <div id="mollie_components_credit_card{% if sw64 %}_sw64{% endif %}"
                 class="mollie-components-credit-card{% if not showIfActive %} d-none{% endif %}"
                 data-mollie-template-creditcard-components{% if sw64 %}-sw64{% endif %}
                    {% if page.enable_credit_card_components == true %}
                data-mollie-credit-card-components-{% if sw64 %}sw64-{% endif %}options='{
                    "customerId": "{{ context.customer.id }}",
                    "locale": "{{ page.mollie_locale }}",
                    "profileId": "{{ page.mollie_profile_id }}",
                    "shopUrl": "{{ seoUrl('frontend.home.page') }}",
                    "testMode": {{ page.mollie_test_mode }},
                    "paymentId": "{{ payment.id }}",
                    "newCardMandateOption": "{{ NEW_CARD_MANDATE_OPTION }}"
                }'
                    {% endif %}>

                {% if page.enable_credit_card_components == true %}
                    <input type="hidden" name="mollie_shopware_credit_card_token" id="cardToken" value=""/>
                    <div class="block-group">
                        <div class="intro-text">
                            <span>{{ "molliePayments.components.creditCard.headLine"|trans|striptags }}</span>
                        </div>
                    </div>
                    <div class="block-group">
                        <div class="block">
                            <label for="cardHolder">{{ "molliePayments.components.creditCard.cardHolderLabel"|trans|striptags }}</label>
                            <div id="cardHolder" class="input--field mollie"></div>
                            <div id="cardHolderError" class="error-message"></div>
                        </div>
                    </div>
                    <div class="block-group">
                        <div class="block">
                            <label for="cardNumber">{{ "molliePayments.components.creditCard.cardNumberLabel"|trans|striptags }}</label>
                            <div id="cardNumber" class="input--field mollie"></div>
                            <div id="cardNumberError" class="error-message"></div>
                        </div>
                    </div>
                    <div class="block-group">
                        <div class="b1 block">
                            <label for="expiryDate">{{ "molliePayments.components.creditCard.cardExpiryDateLabel"|trans|striptags }}</label>
                            <div id="expiryDate" class="input--field mollie"></div>
                            <div id="expiryDateError" class="error-message"></div>
                        </div>
                        <div class="b2 block">
                            <label for="verificationCode">{{ "molliePayments.components.creditCard.cardVerificationCodeLabel"|trans|striptags }}</label>
                            <div id="verificationCode" class="input--field mollie"></div>
                            <div id="verificationCodeError" class="error-message"></div>
                        </div>
                    </div>

                    <div class="block-group">
                        <div class="tag-line">
                            <i class="icon--lock"></i>&nbsp;<span>{{ "molliePayments.components.creditCard.creditCardTagLine"|trans|striptags }}</span>
                            <svg viewBox="0 0 65 19" class="logo">
                                <path d="M27.482 16.068c-1.917 0-3.476-1.55-3.476-3.453s1.559-3.453 3.476-3.453 3.476 1.549 3.476 3.453-1.56 3.453-3.476 3.453m0-9.825c3.537 0 6.415 2.859 6.415 6.372s-2.878 6.372-6.415 6.372-6.415-2.859-6.415-6.372 2.878-6.372 6.415-6.372zM49.036 0c1.077 0 1.954.87 1.954 1.94 0 1.07-.877 1.94-1.954 1.94a1.949 1.949 0 0 1-1.953-1.94c0-1.07.876-1.94 1.953-1.94zM13.92 6.229a5.515 5.515 0 0 1 3.843 1.71 5.606 5.606 0 0 1 1.57 3.898v6.886h-2.964v-6.976c-.01-1.412-1.177-2.571-2.604-2.584h-.023c-1.424 0-2.627 1.218-2.627 2.66v6.9H8.15v-6.958a2.628 2.628 0 0 0-2.597-2.593h-.025c-1.426 0-2.632 1.22-2.632 2.665v6.886H0v-6.976c0-3.041 2.493-5.516 5.558-5.516a5.58 5.58 0 0 1 4.09 1.789 5.595 5.595 0 0 1 4.27-1.791zm21.78 12.503V.304h2.964v18.428zm5.928 0V.304h2.964v18.428zm5.927-.01V6.548h2.964v12.176zM65 12.323v1.347h-9.44a3.553 3.553 0 0 0 3.441 2.66 3.53 3.53 0 0 0 3.04-1.705l.095-.158 2.315 1.132.032.09a.206.206 0 0 1-.021.164 6.458 6.458 0 0 1-5.517 3.118h-.004a6.387 6.387 0 0 1-4.554-1.901 6.301 6.301 0 0 1-1.857-4.547 6.316 6.316 0 0 1 1.875-4.427 6.397 6.397 0 0 1 4.452-1.868 5.997 5.997 0 0 1 4.365 1.8A6.07 6.07 0 0 1 65 12.323zm-2.973-1.062h-6.43a3.396 3.396 0 0 1 3.215-2.368c1.466 0 2.791.986 3.215 2.368z"
                                      fill-rule="evenodd" class="jsx-2214451602"></path>
                            </svg>
                        </div>
                    </div>

                    {% block mollie_credit_card_mandate_form_component_radio_should_save_card %}

                        {% if enableOneClickPayments and not context.customer.guest %}
                            {# it doesnt make sense to show it for subscriptions, that is always saved anyway #}
                            {% if not mollieCart.hasSubscription %}
                                <div class="block-group">
                                    <div class="{{ formCheckboxWrapperClass ?? 'custom-control custom-checkbox form-check' }} mollie-credit-card-custom-checkbox">
                                        {% block mollie_creditcard_form_check_store_card_checkbox_input %}
                                            <input type="checkbox"
                                                   id="mollieShouldSaveCardDetail"
                                                   class="{{ formCheckInputClass ?? 'custom-control-input form-check-input' }}"
                                                   name="mollieShouldSaveCardDetail"/>
                                        {% endblock %}
                                        {% block mollie_creditcard_form_check_store_card_checkbox_label %}
                                            <label class="{{ formCheckLabelClass ?? 'custom-control-label form-check-label' }}" for="mollieShouldSaveCardDetail">
                                                {{ "molliePayments.components.creditCard.saveCardDetailLabel"|trans|striptags }}
                                            </label>
                                        {% endblock %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}

                    {% endblock %}
                {% endif %}
            </div>
        {% endblock %}

    </div>
{% endblock %}