{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_main_inner %}
    <div class="container-main">
        {% block page_content %}
            <div class="cms-page">
                <div class="cms-sections">
                    <div class="cms-section-default container">
                        <div class="cms-block">
                            <h1>{{ "molliePayments.messages.payment.error"|trans|striptags }}</h1>

                            <p>
                                {{ "molliePayments.messages.payment.failed"|trans|striptags }} {{ "molliePayments.messages.redirecting"|trans|striptags }}
                            </p>
                            <p>
                            <form method="POST" action="{{ redirectUrl }}" name="update-order">
                                <input type="hidden" name="paymentMethodId" value="{{ paymentMethodId }}" />
                                {% for paymentMethod in paymentMethods %}
                                    <input type="hidden" name="paymentMethods[]" value="{{ paymentMethod }}" />
                                {% endfor %}
                                <button class="btn btn-primary" type="submit">{{ "molliePayments.messages.payment.buttonPayThroughMollie"|trans|striptags }}</button>&nbsp;
                                <a href="{{ path('frontend.home.page') }}" class="btn btn-secondary">{{ "molliePayments.messages.payment.buttonReturnToShop"|trans|striptags }}</a>
                            </form>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}